<section>
  <div class="game-card">
    <div class="row ">
      <div class="col-4">
        <div>
          <img src="<%= game.image_url %>" alt="" class="details-img img-thumbnail" />
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <p class="col-8 fs-5 fw-bold"><%= game.title %></p>
          <p class="col-8"><%= game.year %>, <%= game.genre %></p>
          <p class="col-8"><%= game.description %></p>
        </div>
      </div>
     
      <div class="col">
        <div class="row">
          <h1 class="text-center">High scores</h1>
        </div>
        <!-- If there are no highscores for a particular game, the details of the game should be displayed and a message  should also be shown that there are no highscores for the game -->
        <% if (game.score) { %>
          <% games.forEach(game => { %>
            <div class="row">
              <div class="col">
                <div class="row game-card-row">
                  <p class="col-10"><%= game.player %>, <%= game.score_date %></p>
                  <p class="col-2 float-end"><%= game.score.toLocaleString("fi-FI") %></p>
                </div>
              </div>
            </div>
            <% }) %>    
       <% } else { %>
        <p class="col-10">Det finns inga highscore for <%= game.title %></p>
       <% } %>
            
      </div>
    </div>
  </div>
</section>
